<%= form_with model: @question, url: quiz_question_path(@quiz, @question), local: true, data: { turbo: false }, class: 'question-edit__form' do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation" class="question-edit__error alert alert-danger">
      <h2 class="question-edit__error-title alert-heading"><%= pluralize(@question.errors.count, "エラー") %>が発生しました:</h2>
      <ul class="question-edit__error-list">
        <% @question.errors.full_messages.each do |message| %>
          <li class="question-edit__error-item"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field question-edit__field">
    <%= form.label :question_text, "質問テキスト", class: 'form-label question-edit__label' %>
    <%= form.text_area :question_text, class: 'form-input question-edit__input' %>
  </div>

  <div class="form-field question-edit__field">
    <%= form.label :correct_answer, "正解", class: 'form-label question-edit__label' %>
    <%= form.text_field :correct_answer, class: 'form-input question-edit__input' %>
  </div>

  <div class="form-actions question-edit__actions">
    <%= form.submit "質問を更新", class: 'button button--primary question-edit__submit' %>
  </div>
<% end %>

<div class="question-edit__back">
  <%= link_to '戻る', quiz_path(@quiz), class: 'button button--secondary' %>
</div>
