<h1>新しいクイズを作成</h1>

<%= form_with model: @quiz, local: true do |form| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% @quiz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit 'クイズを作成' %>
  </div>
<% end %>
