<h2 class="account-edit__title">アカウント情報の編集</h2>

<%= form_for(resource, as: resource_name, url: update_user_registration_path(resource), html: { method: :put, class: 'account-edit__form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field account-edit__field">
    <%= f.label :email, "メールアドレス", class: 'form-label account-edit__label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input account-edit__input' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="form-hint account-edit__confirmation">現在の確認待ちメールアドレス: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-field account-edit__field">
    <%= f.label :password, "新しいパスワード", class: 'form-label account-edit__label' %> <i>(変更しない場合は空欄のままにしてください)</i>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-input account-edit__input' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="form-field account-edit__field">
    <%= f.label :password_confirmation, "パスワード確認", class: 'form-label account-edit__label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input account-edit__input' %>
  </div>

  <% if resource.provider.blank? %>
    <div class="form-field account-edit__field">
      <%= f.label :current_password, "現在のパスワード", class: 'form-label account-edit__label' %> <i>(変更を確認するために必要です)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-input account-edit__input' %>
    </div>
  <% end %>

  <div class="form-field account-edit__field">
    <%= f.label :quiz_mode, "クイズモード", class: 'form-label account-edit__label' %>
    <%= f.select :quiz_mode, options_for_select(User::QUIZ_MODES.map { |key, value| [User::QUIZ_MODE_LABELS[key.to_sym], value] }, selected: @user.quiz_mode), {}, class: 'form-input account-edit__input' %>
  </div>

  <div class="form-actions account-edit__actions">
    <%= f.submit "更新", class: 'button button--primary account-edit__submit' %>
  </div>
<% end %>

<h3 class="account-edit__delete-title">アカウントの削除</h3>

<div class="account-edit__delete">
  <%= button_to "アカウントを削除する", user_path(resource), data: { turbo_confirm: "本当に削除しますか？" }, method: :delete, class: 'button button--danger account-edit__delete-btn' %>
</div>

<div class="account-edit__back">
  <%= link_to "戻る", :back, class: 'button button--secondary' %>
</div>
