<div class="quiz-take__question">
  <%= form_with(url: answer_question_quiz_path(@quiz), local: true) do |form| %>
    <%= form.hidden_field :question_id, value: @question.id %>

    <div class="form-field">
      <%= form.label :answer_text, "あなたの回答", class: 'form-label' %>
      <%= form.text_field :answer_text, class: 'form-input' %>
    </div>

    <div class="form-actions">
      <%= form.submit "回答を送信", class: 'button button--primary' %>
    </div>
  <% end %>
</div>
