<header class="header">
  <div class="container header__container">
    <h1 class="header__title"><%= link_to 'QuizCraft', root_path %></h1>
    <div class="header__menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-links">
        <% if user_signed_in? %>
          <li><%= link_to 'マイクイズ', user_my_quizzes_path(current_user), class: 'header__nav-link' %></li>
          <li><%= link_to 'お気に入り', user_favorite_quizzes_path(current_user), class: 'header__nav-link' %></li>
          <li><%= link_to 'クイズ作成', new_quiz_path, class: 'header__nav-link' %></li>
          <li><%= link_to 'アカウント情報更新', edit_user_path(current_user), class: 'header__nav-link' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'header__nav-link' %></li>
        <% else %>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'header__nav-link' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'header__nav-link' %></li>
          <li>
            <%= form_tag(session_path(:user), method: :post ) do %>
              <%= hidden_field_tag "user[email]", 'guest@example.com' %>
              <%= hidden_field_tag "user[password]", 'guestpassword' %>
              <%= submit_tag 'ゲストログイン', class: 'header__nav-link' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
