<nav>
  <ul>
    <li><%= link_to 'ホーム', root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'マイクイズ' %></li>
      <li><%= link_to 'お気に入り', user_favorite_quizzes_path(current_user) %></li>
      <li><%= link_to 'クイズ作成', new_quiz_path %></li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %></p>
    <%= link_to 'アカウント情報更新', edit_user_registration_path %> |
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to '新規登録', new_user_registration_path %> |
    <%= link_to 'ログイン', new_user_session_path %>
  <% end %>
</nav>
